<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments.html :: head"></head>
<body>
<div th:replace="fragments.html :: navbar"></div>


<h1>Home page</h1>

<div sec:authorize="isAuthenticated()">

</div>
<a></a>
<a href="/login" th:if="${name == null}">로그인</a>
<a href="/register" th:if="${name == null}">회원가입</a>
<form name="joinForm" th:if="${name != null}" method="post" action="@{/logout}" accept-charset="UTF-8">

    <a class="nav-link"   th:href="@{/logout}">로그아웃</a>
</form>
</body>
</html>