<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
</head>

<body>

<form role="form" action="/review/new" method="post" accept-charset="UTF-8">

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">상세 리뷰 작성</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required name="comment"></textarea>
    </div>
    <div style="float: left;">
        <select class="form-select" aria-label="Default select example" id="star" name="star">
            <option value="none">별점</option>
            <option value="1">★</option>
            <option value="2">★★</option>
            <option value="3">★★★</option>
            <option value="4">★★★★</option>
            <option value="5">★★★★★</option>
        </select>
    </div>
        <div style="float: right;">
        <button type="submit" class="btn btn-dark " onclick="checkStar()">리뷰 등록</button>
        </div>

</form>
</body>
</html>
<script>
        function checkStar() {
            var s = document.getElementById("star");
            var option = s.options[s.selectedIndex].value;
            if(option === "none") {
                alert("별점은 필수 항목입니다.")
                return;
            }
        }
</script>